<div class="card filters">
    <div class="card-header">
      <strong>Filters</strong> 
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
              <label for="from">From</label>
              <input type="number" class="form-control" id="from">
            </div>

            <div class="form-group">
              <label for="to">To</label>
              <input type="number" class="form-control" id="to">
            </div>
            <button type="submit" class="btn btn-primary btn-sm btn-block">Filter by price</button>
          </form>
    </div>
  </div>