<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src]="product.imageUrl"/>

    <div class="card-body">
        <div class="card-text">
            <strong>{{ product.price | currency:'USD' }}</strong>
        </div>
      <h5>{{ product.name | slice: 0:15 }} ...</h5>
        <p class="card-text">{{ product.description | slice: 0:20 }} ...</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="addToCart(product)">Add to cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
        </div>
      </div>
    </div>
</div>