<div class="card">
    <div class="card-header">
      <strong>Cart</strong>
    </div>
    <div *ngIf="cartItems$ | async as cartItems" >
      <div class="card-header" *ngIf="cartItems.length > 0">
        <button class="text-center btn btn-primary cart-button">Confirm</button>
        <button class="text-center btn btn-danger cart-button float-right" (click)="clearCart()">Clear</button>
      </div>
    </div>
    <div *ngIf="cartItems$ | async as cartItems" class="text-center"><p *ngIf="cartItems.length === 0">Cart empty!</p></div>
    <ul class="list-group" *ngIf="cartItems$ | async as cartItems">
      <div *ngIf="cartItems.length > 0">
        <li class="list-group-item" *ngFor="let item of cartItems">
          <app-cart-item [cartItem]="item"></app-cart-item>
        </li>
        <li class="list-group-item active">
          <strong>Total: {{ total | currency:'USD'}}</strong>
        </li>
      </div>
    </ul>
</div>